<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingapp" >

    <application
        android:allowBackup="true"
        android:roundIcon="@drawable/logo_size_invert"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".AddClothes"></activity>
        <activity android:name=".ViewClothes"/>
        <activity android:name=".AdminMaintainActivity"/>
        <activity android:name=".startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClothesCategory" />
        <activity android:name=".signup"/>
        <activity android:name=".login"/>
        <activity android:name=".AdminMenu"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".clothes_profile"/>
        <activity android:name=".PicassoExample"/>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>